<!DOCTYPE html>

<html lang ="en">
<head>
    <title>Log In</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
</head>
<body>

    <div style="background-color: blue;width:100%;text-align: right;">
        <a href="index.html" style="font-size:22px;color: white;">Home</a>
        <a href="login.html" style="font-size:22px;color: white;">Login</a>
    </div>


    <h1>Log In</h1>
    <div id="app"></div>
    
    <script type="text/babel">
        function Form(){
            return (
                <form>
                    <label htmlFor="username">Username: </label>
                    <input type="text" username="username" />

                    <label htmlFor="password">Password: </label>
                    <input type="text" password="password" />
                    
                    <input type="submit" value="Login"/>
                </form>

            )
        }
        ReactDOM.render(<Form />, document.getElementById("app"))

    </script>

</body>


</html>
