nav {
  background-color: #1C3E6F;
  font-family: 'Fredoka One', cursive;
  letter-spacing: 3px;
}

nav img {
  width: 30px;
}

nav a {
  color: white;
}

nav a:hover {
  color: #FFE484;
}

nav button {
  color: white;
}
